<!DOCTYPE html>
<html>
<head>
  <title>Fifa Predictor</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<nav>
  <div class="container">
    <ul>
      <li><%= image_tag "ball.svg" %></li>
      <li><%= link_to "Predictions", predictions_path %></li>
      <li><%= link_to "Match results", match_results_path %></li>
      <li><%= link_to "Teams", teams_path %></li>
    </ul>
  </div>
</nav>
<main>
  <%= yield %>
</main>
</body>
</html>
