<div id="<%= dom_id match_result %>">
  <p>
    <strong>Home team:</strong>
    <%= match_result.home_team_id %>
  </p>

  <p>
    <strong>Home goals:</strong>
    <%= match_result.home_goals %>
  </p>

  <p>
    <strong>Home red cards:</strong>
    <%= match_result.home_red_cards %>
  </p>

  <p>
    <strong>Away team:</strong>
    <%= match_result.away_team_id %>
  </p>

  <p>
    <strong>Away goals:</strong>
    <%= match_result.away_goals %>
  </p>

  <p>
    <strong>Away red cards:</strong>
    <%= match_result.away_red_cards %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= match_result.result %>
  </p>

</div>
